@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
  font-family: 'Roboto Slab', serif;
}

.sign-in-form {
  background-color: #CACAD1;
  border-radius: 10px;
  border-color:  #37424E;
  border-width: 10px;
  box-shadow: 10px 9px 20px 0px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
  padding-bottom: 20px;
  padding-top: 10px;
  position: absolute;
  width: 250px;
  z-index: 10;
}

.email {
  border-color:  #37424E;
  border-radius: 5px;
  display: block;
  font-family: 'Roboto Slab', serif;
  height: 1.25rem;
  margin: 10px auto;
  padding-left: 5px;
  width: 75%;
}


.password {
  border-color:  #37424E;
  border-radius: 5px;
  display: block;
  font-family: 'Roboto Slab', serif;
  height: 1.25rem;
  margin: 10px auto;
  padding-left: 5px;
  width: 75%;
}

.submit {
  background-color: #990000;
  border-radius: 5px;
  color: #CACAD1;
  display: block;
  font-size: 1.25rem;
  margin: 10px auto;
  width: 76%;
  height: 2rem;
}

.sign-up {
  color: #990000;
  display: block;
  font-size: 1.25rem;
  margin: 10px auto;
  text-decoration: none;
}

.error {
  color: #990000;
  font-family: 'Roboto Slab', serif;
}