.card {
  background-color: #CACAD1;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem #000000;
  display: grid;
  grid-template: 
    'a a a' auto
    'c c c' auto
    'd d d' 1fr
    'e e e' auto
    / auto auto auto;
  margin: 20px 0;
  transition-duration: .5s;
  width: 300px;
}

.card:hover {
  box-shadow: 3rem 3rem 1rem rgba(0,0,0,0.5);
  transform: scale(1.05);
  transition-duration: .5s;
}

.soda-pop {
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  margin: 0;
}

.movie-title {
  border-radius: 0.75rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  grid-area: a;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0;
  transition: background-color .5s, color .5s;
}

img {
  grid-area: c;
  cursor: pointer;
}

.jello {
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 300px;
  z-index: 1;
}

.jello:hover::before {
  cursor: pointer;
  right: 0;
  transition: right .5s cubic-bezier(0.73, 0.11, 0.22, 0.87);
}

.jello::before {
  display: flex;
  align-items: center;
  text-align: center;
  content: 'Click to add this movie to your favorites!';
  position: absolute;
  top: 200px;
  right: 300px;
  background-color: black;
  color: #CACAD1;
  height: 50px;
  width: 300px;
  z-index: 9;
  transition: all .5s cubic-bezier(0.73, 0.11, 0.22, 0.87);
}

.overview {
  grid-area: d;
  padding: 0 1em;
}

.release_date {
  align-self: end;
  justify-self: center;
  grid-area: e;
}

.popcorn-show {
  align-self: center;
  height: 1.5rem;
  width: 1.5rem;
  transition: all .5s;
}

.popcorn-hide {
  display: none;
  transition: all .5s;
}

.has-color {
  background-color: #57282F;
  color: #CACAD1;
  transition: background-color .5s, color .5s;
}